@keyframes Spinner_kf {
  to {
    transform: rotate(360deg);
  }
}

.Spinner {
  position: relative;
  height: 4rem;
  width: 4rem;

  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin-top: -2rem;
    margin-left: -2rem;
    border-radius: 50%;
    border: 0.2rem solid #ccc;
    border-top-color: black;
    animation: Spinner_kf 0.6s linear infinite;
  }
}
